<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victory.team.hawkmoth" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
                android:name="com.android.geo.AIzaSyBAltqDjcC88-Uuzfw8UOoYyiOA2o35IwI "
                android:value="AIzaSyBAltqDjcC88-Uuzfw8UOoYyiOA2o35IwI "/>

    </application>

</manifest>
